@import "vars.less";

div.info-display {
    height: 80%;
    min-width: 52px;
    font-size: 1.2em;
    padding: 0 3px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: @headerFont;

}

.player-display {
    position: relative;
    width: 100%;
    height: 100%;

    .player-display-status-img {
        width: 40px;
        position: absolute;
        top: 4px;
        left: 6px;
    }

    .player-display-song-name {
        position: absolute;
        top: 4px;
        left: 50px;
        font-size: 16px;
    }

    .player-display-timer {
        position: absolute;
        top: 0;
        right: 6px;
        font-size: 24px;
        height: 32px;
        display: flex;
        align-items: flex-end;
        font-family: @monoFont, monospace;
    }


    .player-display-song-duration {
        position: absolute;
        top: 24px;
        right: 6px;
        font-size: 14px;
        height: 14px;
        display: flex;
        align-items: flex-start;
        color: rgba(255,255,255,0.6);
        font-family: @monoFont, monospace;
    }

    .player-display-current-position {
        position: absolute;
        top: 0;
        height: 100%;
        right: 200px;
        display: flex;
        align-items: center;

    }

}