
.layout {
    display: flex;
    flex-direction: column;
    height: 100%;

    & > .layout-header {
        flex: 0 0 auto;
        height: 60px;
        z-index: 10;
    }


    & > .layout-main {
        flex: 1;

        display: flex;
        flex-direction: column;
        z-index: 5;
        overflow: hidden;
        
        & > .layout-view {
            flex:  0 0 auto;
            height: 48px;
            transition: height 0.5s;

            &.layout-view-open {
                flex: 1 1 auto;
                min-height: 48px;
                height: 100%;
            }

        }
    }

    & > .layout-footer {
        flex: 0 0 auto;
        height: 32px;
        z-index: 10;
    }
}
