
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, #app {
    height: 100vh;
    position: relative;
}

// @import "layouts.less";
// @import "theme.less";
// @import "views.less";

// @import "mixer.less";