
@import "vars.less";

body {
    background: linear-gradient(#F0F0F0 0%, #D0D0D0 100%);
    font-family: @mainFont;
    color: #111111;
    font-size: 16px;
}

.el-bg-default {
    background: linear-gradient(#555555 0%, #333333 100%);
    color: #EEEEEE;
    box-shadow: 0 0 8px 4px rgba(0,0,0,0.5);
}

.el-bg-light {
    background: linear-gradient(rgba(212, 212, 212, 0.75) 0%, rgba(192, 192,192, 0.75) 100%);
    color: #111111;
    box-shadow: 0 0 8px 4px rgba(0,0,0,0.5);
}

h1 {
    font-family: @headerFont;
    font-size: 2em;
    font-weight: normal;
}

h2 {
    font-family: @headerFont;
    font-size: 1.5em;
    font-weight: normal;
}

h3 {
    font-family: @mainFont;
    font-size: 1.4em;
    font-weight: normal;
}

h4 {
    font-family: @mainFont;
    font-size: 1.2em;
    font-weight: normal;
}

.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 6px;

    margin: 12px 12px;

    & > button {
        margin: 0 4px;
    }

    & > span.divider {
        background-color: rgba(0,32,16,0.75);
        height:80%;
        width: 3px;
        border: solid 1px rgba(255,255,255, 0.25);
        flex: 0 0 auto;
        margin: 0 6px;
    }

    .editable-text {
        margin: 0 6px;
        label {
            font-size: 1.4em;
        }

        input {
            font-size: 1.4em;
            font-family: @mainFont;
        }
    }
}