
.layout-header {
    padding: 0 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.layout-view {

    background: repeating-linear-gradient(0deg, #A0A0A0 0, #F0F0F0 3px, #D0D0D0 20px);

    & > header {
        background: linear-gradient(#777777 0%, #333333 100%);
        color: rgba(255,255,255,0.75);
        height: 48px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 12px;

        box-shadow: 0 4px 4px 2px rgba(0,0,0,0.5);

        cursor: pointer;

        
    }

}

.layout-footer {
    padding: 0 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgba(255,255,255,0.35);
}